@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
@import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin');

@import 'node_modules/vanilla-framework';
@include vanilla;

* {
  font-family: "Ubuntu", -apple-system, "Segoe UI", "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{ 
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

